Repository Intel-Media-SDK/MediaSDK, changes with the owners that CODEOWNERS names for each.
All owners: apple.wang@intel.com, carl.zhang@intel.com, dmitry.v.rogozhkin@intel.com, @Intel-Media-SDK/mediasdk-admin, will.guo@intel.com, yan.wang@intel.com, thomas.li@intel.com, chunbo.chen@intel.com, furong.zhang@intel.com, sergey.plotnikov@intel.com

Fix build with gcc 12
  tests/unit/suites/mfx_dispatch/linux/mfx_dispatch_test_main.h
  tests/unit/suites/tracer/linux/mfx_tracer_test_main.h
Owners: @Intel-Media-SDK/mediasdk-admin, dmitry.v.rogozhkin@intel.com, apple.wang@intel.com

[Media Common] Bump up version to 22.4.4
  CMakeLists.txt
Owners: apple.wang@intel.com, carl.zhang@intel.com

[Media Common] Bump up version to 22.4.4
  CMakeLists.txt
Owners: apple.wang@intel.com, carl.zhang@intel.com

Removed proprietary mentions from file headers
  android/include/mfx_android_config.h
  contrib/ipp/src/ippversion.h
  tools/tracer/dumps/dump_mfxfei.cpp
  tools/tracer/gui/ConfigManager.cs
  tools/tracer/gui/EtlDataCollector.cs
  tools/tracer/gui/EtlToTextConverter.cs
  tools/tracer/gui/Import.cs
  tools/tracer/gui/MsdkAnalyzerCpp.cs
  tools/tracer/gui/Program.cs
  tools/tracer/gui/Properties/AssemblyInfo.cs
  tools/tracer/gui/SdkAnalyzerForm.Designer.cs
  tools/tracer/gui/SdkAnalyzerForm.cs
  tools/tracer/gui/WinApi.cs
Owners: @Intel-Media-SDK/mediasdk-admin, apple.wang@intel.com, carl.zhang@intel.com

Removed proprietary mentions from file headers
  android/include/mfx_android_config.h
  contrib/ipp/src/ippversion.h
  tools/tracer/dumps/dump_mfxfei.cpp
  tools/tracer/gui/ConfigManager.cs
  tools/tracer/gui/EtlDataCollector.cs
  tools/tracer/gui/EtlToTextConverter.cs
  tools/tracer/gui/Import.cs
  tools/tracer/gui/MsdkAnalyzerCpp.cs
  tools/tracer/gui/Program.cs
  tools/tracer/gui/Properties/AssemblyInfo.cs
  tools/tracer/gui/SdkAnalyzerForm.Designer.cs
  tools/tracer/gui/SdkAnalyzerForm.cs
  tools/tracer/gui/WinApi.cs
Owners: @Intel-Media-SDK/mediasdk-admin, apple.wang@intel.com, carl.zhang@intel.com

CODEOWNERS:

*    apple.wang@intel.com carl.zhang@intel.com
/api/include/ apple.wang@intel.com dmitry.v.rogozhkin@intel.com

CODEOWNERS   @Intel-Media-SDK/mediasdk-admin apple.wang@intel.com carl.zhang@intel.com

# av1d
/_studio/mfx_lib/decode/av1/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/av1_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# h264d:
/_studio/mfx_lib/dec/h264/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/decode/h264/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/h264_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# h264e:
/_studio/mfx_lib/enc/h264/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/enc_hw/h264/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/encode_hw/h264/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/encode/h264/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/shared/umc/codec/h264_enc/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/pak/h264/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/shared/umc/codec/me/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com

# mpeg2d:
/_studio/mfx_lib/dec/mpeg2/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/decode/mpeg2/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# mpeg2e:
/_studio/mfx_lib/enc/mpeg2/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/enc_hw/mpeg2/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/encode/mpeg2/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/encode_hw/mpeg2/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/shared/umc/codec/mpeg2_enc/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/pak/mpeg2/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/shared/umc/codec/me/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com

# vc1:
/_studio/mfx_lib/decode/vc1/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vc1_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vc1_common/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/enc/vc1/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/encode/vc1/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vc1_enc/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vc1_common/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# hevcd:
/_studio/mfx_lib/decode/h265/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/h265_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# hevce:
/_studio/hevce_hw/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/encode_hw/h265/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/encode_hw/hevc/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com

# mjpegd:
/_studio/mfx_lib/decode/mjpeg/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/jpeg_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# mjpege:
/_studio/mfx_lib/encode/mjpeg/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/encode_hw/mjpeg/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/shared/umc/codec/jpeg_enc/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com

# vp8d:
/_studio/mfx_lib/decode/vp8/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vp8_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# vp9d:
/_studio/mfx_lib/decode/vp9/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vp9_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# vp9e:
/_studio/vp9e_hw/ @Intel-Media-SDK/mediasdk-admin chunbo.chen@intel.com apple.wang@intel.com
_studio/mfx_lib/encode_hw/vp9/ @Intel-Media-SDK/mediasdk-admin chunbo.chen@intel.com apple.wang@intel.com

# vpp:
/_studio/mfx_lib/vpp/ @Intel-Media-SDK/mediasdk-admin furong.zhang@intel.com
/_studio/shared/umc/codec/color_space_converter/ @Intel-Media-SDK/mediasdk-admin furong.zhang@intel.com
/_studio/shared/umc/codec/scene_analyzer/ @Intel-Media-SDK/mediasdk-admin furong.zhang@intel.com

# tests:
/tests/ @Intel-Media-SDK/mediasdk-admin dmitry.v.rogozhkin@intel.com apple.wang@intel.com

# avc_fei:
/_studio/mfx_lib/fei/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/samples/sample_fei/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com

# hevc_fei:
/_studio/hevc_fei/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/samples/sample_hevc_fei/ @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/encode_hw/h265/src/*fei* @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com
/_studio/mfx_lib/encode_hw/h265/include/*fei* @Intel-Media-SDK/mediasdk-admin thomas.li@intel.com apple.wang@intel.com

# enctools:
/_studio/enctools/ @Intel-Media-SDK/mediasdk-admin sergey.plotnikov@intel.com
/_studio/enctools/aenc @Intel-Media-SDK/mediasdk-admin sergey.plotnikov@intel.com
/_studio/shared/include/mfxenctools-int.h @Intel-Media-SDK/mediasdk-admin sergey.plotnikov@intel.com

# samples:
/samples/ @Intel-Media-SDK/mediasdk-admin apple.wang@intel.com

# core:
/_studio/mfx_lib/shared/ @Intel-Media-SDK/mediasdk-admin apple.wang@intel.com dmitry.v.rogozhkin@intel.com
/_studio/shared/ @Intel-Media-SDK/mediasdk-admin apple.wang@intel.com dmitry.v.rogozhkin@intel.com
/_studio/shared/umc/core/ @Intel-Media-SDK/mediasdk-admin apple.wang@intel.com dmitry.v.rogozhkin@intel.com
/_studio/shared/umc/io/ @Intel-Media-SDK/mediasdk-admin apple.wang@intel.com dmitry.v.rogozhkin@intel.com
/_studio/mfx_lib/cmrt_cross_platform/ @Intel-Media-SDK/mediasdk-admin apple.wang@intel.com dmitry.v.rogozhkin@intel.com
/_studio/mfx_lib/scheduler/ @Intel-Media-SDK/mediasdk-admin apple.wang@intel.com dmitry.v.rogozhkin@intel.com

# android:
/android/ @Intel-Media-SDK/mediasdk-admin
*.mk @Intel-Media-SDK/mediasdk-admin

# build:
/builder/ @Intel-Media-SDK/mediasdk-admin apple.wang@intel.com dmitry.v.rogozhkin@intel.com

# plugin:
/_studio/mfx_lib/plugin/ @Intel-Media-SDK/mediasdk-admin apple.wang@intel.com dmitry.v.rogozhkin@intel.com
