Repository Intel-Media-SDK/MediaSDK, changes with the owners that CODEOWNERS names for each.
All owners: oleg.nabiullin@intel.com, dmitry.ermilov@intel.com, alexei.leonenko@intel.com, evgeniy.starov@intel.com, dmitry.v.rogozhkin@intel.com, vasily.aristarkhov@intel.com, @Intel-Media-SDK/mediasdk-admin, will.guo@intel.com, yan.wang@intel.com, dmitry.gurulev@intel.com, @Intel-Media-SDK/encoders-owners, Pavel.Gribov@intel.com, vitaliy.ilichev@intel.com, thomas.li@intel.com, ekaterina.shiryaeva.alexandrovna@intel.com, anastasiia.sokolova@intel.com, furong.zhang@intel.com, miroslav.goncharenko@intel.com, leonid.a.kulakov@intel.com, maria.pushkina@intel.com, anton.grishin@intel.com

unmark the DPB's frame with frame_num duplicating with the coming frame
  _studio/shared/umc/codec/h264_dec/include/umc_h264_task_supplier.h
  _studio/shared/umc/codec/h264_dec/src/umc_h264_task_supplier.cpp
Owners: @Intel-Media-SDK/mediasdk-admin, vasily.aristarkhov@intel.com, dmitry.v.rogozhkin@intel.com, dmitry.ermilov@intel.com

Update version to 20.3.0 and cleanup docs
  CMakeLists.txt
  doc/mediasdk-man.md
  doc/samples/Media_Samples_Guide_Linux.md
  samples/sample_common/include/version.h
Owners: oleg.nabiullin@intel.com, dmitry.ermilov@intel.com, @Intel-Media-SDK/mediasdk-admin, maria.pushkina@intel.com, anton.grishin@intel.com

Update version to 20.3.0 and cleanup docs
  CMakeLists.txt
  doc/mediasdk-man.md
  doc/samples/Media_Samples_Guide_Linux.md
  samples/sample_common/include/version.h
Owners: oleg.nabiullin@intel.com, dmitry.ermilov@intel.com, @Intel-Media-SDK/mediasdk-admin, maria.pushkina@intel.com, anton.grishin@intel.com

Switch version to 2020 q4 era
  CMakeLists.txt
Owners: oleg.nabiullin@intel.com, dmitry.ermilov@intel.com

Fix floating point exception in case of incorrect input streams
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw.cpp
  _studio/mfx_lib/vpp/include/mfx_vpp_hw.h
Owners: @Intel-Media-SDK/mediasdk-admin, @Intel-Media-SDK/encoders-owners, alexei.leonenko@intel.com, Pavel.Gribov@intel.com, furong.zhang@intel.com

CODEOWNERS:

*    oleg.nabiullin@intel.com dmitry.ermilov@intel.com
/api/include/ oleg.nabiullin@intel.com dmitry.ermilov@intel.com alexei.leonenko@intel.com evgeniy.starov@intel.com dmitry.v.rogozhkin@intel.com vasily.aristarkhov@intel.com

CODEOWNERS   @Intel-Media-SDK/mediasdk-admin

# h264d:
/_studio/mfx_lib/dec/h264/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com dmitry.gurulev@intel.com
/_studio/mfx_lib/decode/h264/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com dmitry.gurulev@intel.com
/_studio/shared/umc/codec/h264_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com dmitry.gurulev@intel.com


# h264e:
/_studio/mfx_lib/enc/h264/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners alexei.leonenko@intel.com Pavel.Gribov@intel.com
/_studio/mfx_lib/enc_hw/h264/ @Intel-Media-SDK/mediasdk-admin  @Intel-Media-SDK/encoders-owners alexei.leonenko@intel.com Pavel.Gribov@intel.com
/_studio/mfx_lib/encode_hw/h264/ @Intel-Media-SDK/mediasdk-admin  @Intel-Media-SDK/encoders-owners alexei.leonenko@intel.com Pavel.Gribov@intel.com
/_studio/mfx_lib/encode/h264/ @Intel-Media-SDK/mediasdk-admin  @Intel-Media-SDK/encoders-owners alexei.leonenko@intel.com Pavel.Gribov@intel.com
/_studio/shared/umc/codec/h264_enc/ @Intel-Media-SDK/mediasdk-admin  @Intel-Media-SDK/encoders-owners alexei.leonenko@intel.com Pavel.Gribov@intel.com
/_studio/mfx_lib/pak/h264/ @Intel-Media-SDK/mediasdk-admin  @Intel-Media-SDK/encoders-owners alexei.leonenko@intel.com Pavel.Gribov@intel.com
/_studio/shared/umc/codec/me/ @Intel-Media-SDK/mediasdk-admin  @Intel-Media-SDK/encoders-owners alexei.leonenko@intel.com Pavel.Gribov@intel.com

# mpeg2d:
/_studio/mfx_lib/dec/mpeg2/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com dmitry.gurulev@intel.com 
/_studio/mfx_lib/decode/mpeg2/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com dmitry.gurulev@intel.com

# mpeg2e:
/_studio/mfx_lib/enc/mpeg2/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners
/_studio/mfx_lib/enc_hw/mpeg2/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners
/_studio/mfx_lib/encode/mpeg2/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners
/_studio/mfx_lib/encode_hw/mpeg2/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners
/_studio/shared/umc/codec/mpeg2_enc/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners
/_studio/mfx_lib/pak/mpeg2/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners
/_studio/shared/umc/codec/me/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners

# vc1:
/_studio/mfx_lib/decode/vc1/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vc1_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vc1_common/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/enc/vc1/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/encode/vc1/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vc1_enc/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vc1_common/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com


# hevcd:
/_studio/mfx_lib/decode/h265/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com dmitry.gurulev@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/h265_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com dmitry.gurulev@intel.com yan.wang@intel.com

# hevce:
/_studio/hevce_hw/ @Intel-Media-SDK/mediasdk-admin vitaliy.ilichev@intel.com thomas.li@intel.com
/_studio/mfx_lib/encode_hw/h265/ @Intel-Media-SDK/mediasdk-admin vitaliy.ilichev@intel.com thomas.li@intel.com
/_studio/mfx_lib/encode_hw/hevc/ @Intel-Media-SDK/mediasdk-admin vitaliy.ilichev@intel.com thomas.li@intel.com evgeniy.starov@intel.com

# mjpegd:
/_studio/mfx_lib/decode/mjpeg/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/jpeg_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# mjpege:
/_studio/mfx_lib/encode/mjpeg/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners
/_studio/mfx_lib/encode_hw/mjpeg/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners
/_studio/shared/umc/codec/jpeg_common/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners
/_studio/shared/umc/codec/jpeg_enc/ @Intel-Media-SDK/mediasdk-admin @Intel-Media-SDK/encoders-owners

# vp8d:
/_studio/mfx_lib/decode/vp8/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vp8_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# vp9d:
/_studio/mfx_lib/decode/vp9/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com
/_studio/shared/umc/codec/vp9_dec/ @Intel-Media-SDK/mediasdk-admin will.guo@intel.com yan.wang@intel.com

# vp9e:
/_studio/vp9e_hw/ @Intel-Media-SDK/mediasdk-admin ekaterina.shiryaeva.alexandrovna@intel.com anastasiia.sokolova@intel.com
_studio/mfx_lib/encode_hw/vp9/ @Intel-Media-SDK/mediasdk-admin ekaterina.shiryaeva.alexandrovna@intel.com anastasiia.sokolova@intel.com

# vpp:
/_studio/mfx_lib/vpp/ @Intel-Media-SDK/mediasdk-admin furong.zhang@intel.com
/_studio/shared/umc/codec/color_space_converter/ @Intel-Media-SDK/mediasdk-admin furong.zhang@intel.com
/_studio/shared/umc/codec/scene_analyzer/ @Intel-Media-SDK/mediasdk-admin furong.zhang@intel.com

# tests:
/tests/ @Intel-Media-SDK/mediasdk-admin dmitry.v.rogozhkin@intel.com dmitry.gurulev@intel.com

# avc_fei:
/_studio/mfx_lib/fei/ @Intel-Media-SDK/mediasdk-admin miroslav.goncharenko@intel.com dmitry.ermilov@intel.com leonid.a.kulakov@intel.com
/samples/sample_fei/ @Intel-Media-SDK/mediasdk-admin miroslav.goncharenko@intel.com dmitry.ermilov@intel.com leonid.a.kulakov@intel.com

# hevc_fei:
/_studio/hevc_fei/ @Intel-Media-SDK/mediasdk-admin miroslav.goncharenko@intel.com dmitry.ermilov@intel.com leonid.a.kulakov@intel.com
/samples/sample_hevc_fei/ @Intel-Media-SDK/mediasdk-admin miroslav.goncharenko@intel.com dmitry.ermilov@intel.com leonid.a.kulakov@intel.com
/_studio/mfx_lib/encode_hw/h265/src/*fei* @Intel-Media-SDK/mediasdk-admin miroslav.goncharenko@intel.com dmitry.ermilov@intel.com leonid.a.kulakov@intel.com
/_studio/mfx_lib/encode_hw/h265/include/*fei* @Intel-Media-SDK/mediasdk-admin miroslav.goncharenko@intel.com dmitry.ermilov@intel.com leonid.a.kulakov@intel.com

# samples:
/samples/ @Intel-Media-SDK/mediasdk-admin maria.pushkina@intel.com anton.grishin@intel.com

# core:
/_studio/mfx_lib/shared/ @Intel-Media-SDK/mediasdk-admin vasily.aristarkhov@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com
/_studio/shared/ @Intel-Media-SDK/mediasdk-admin vasily.aristarkhov@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/core/ @Intel-Media-SDK/mediasdk-admin vasily.aristarkhov@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/io/ @Intel-Media-SDK/mediasdk-admin vasily.aristarkhov@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com
/_studio/mfx_lib/cmrt_cross_platform/ @Intel-Media-SDK/mediasdk-admin vasily.aristarkhov@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com
/_studio/mfx_lib/scheduler/ @Intel-Media-SDK/mediasdk-admin vasily.aristarkhov@intel.com dmitry.v.rogozhkin@intel.com dmitry.ermilov@intel.com

# android:
/android/ @Intel-Media-SDK/mediasdk-admin
*.mk @Intel-Media-SDK/mediasdk-admin

# build:
/builder/
@Intel-Media-SDK/mediasdk-admin dmitry.v.rogozhkin@intel.com

# plugin:
/_studio/mfx_lib/plugin/
@Intel-Media-SDK/mediasdk-admin vasily.aristarkhov@intel.com oleg.nabiullin@intel.com
